# TODO: remove these, only keep test packages
# tensor search, identical to requirements.txt:
requests==2.28.1
anyio==3.7.1
fastapi==0.86.0
uvicorn[standard]
fastapi-utils==0.2.1
jsonschema==4.17.1
typing-extensions==4.5.0
urllib3==1.26.0
pydantic==1.10.11
httpx==0.25.0
semver==3.0.2
memory-profiler==0.61.0
pynvml==11.5.0
kazoo==2.10.0
pycurl==7.45.3
certifi==2019.11.28
transformers==4.41.2
optimum==1.20.0

# LanguageBind

eva-decord==0.6.1
einops==0.6.1
pytorchvideo==0.1.5
torchaudio==0.12.1
SoundFile==0.12.1
python-magic==0.4.27
ffmpeg-python==0.2.0