# Package in this file will overwrite the default requirements in the base-image
# Only put the package that are updating frequently

# Currently, all the packages are included in the base-image
# Check https://github.com/marqo-ai/marqo-base/tree/main/requirements for the
# list of packages in the base-image
onnx==1.16.2
onnxruntime==1.20.1
onnxruntime-gpu==1.20.1 ; platform_machine == "x86_64"
protobuf==3.20.2