langchain==0.0.136
librosa==0.9.2
marqo==0.9.1
numpy==1.23.5
pyannote.pipeline==2.3
pydub==0.25.1
python-dotenv==1.0.0
SoundFile==0.10.3.post1
torch==2.0.0+cu117
tqdm==4.65.0
transformers==4.27.4
yt_dlp==2023.3.4
