# Copy this file to .env and modify the values as needed for local development
# Note that .env file can also affect your test environment if you run tests locally as Pydantic loads environment variables from .env file by default
LOG_LEVEL=debug | info | warning | error
LOG_FORMAT=text | json
MARQO_MODELS_TO_PRELOAD=[]
TRITON_URL=http://localhost:8000