global
    maxconn 500

defaults
    mode http
    timeout connect 10s
    timeout client 60s
    timeout server 60s
    timeout queue 60s

frontend http_in
    bind *:7000
    mode http
    maxconn 500

    http-after-response set-status 429 if { txn.sess_term_state  "sQ" }

    default_backend marqo_backend

backend marqo_backend
    server marqo1 127.0.0.1:8882 maxconn 40
